/build/
/build_setup/

*.swp
*~

debian/copyright
clearwater-socket-factory/clearwater_socket_factory
clearwater-socket-factory/test_client_mgmt
clearwater-socket-factory/test_client_sig
.wheelhouse
_env

cw_infrastructure/cw_infrastructure.egg-info/
