# Define a host using our main IP address, rather than localhost
define host{
        use                     generic-host            ; Name of host template to use
        host_name               local_ip
        alias                   local_ip
        address                 REPLACE_WITH_IP
        }

# cw-service is a modified form of generic-service, defining volatile services with a normal_check_interval of 10 (10 seconds)
define service{
        name                            cw-service ; The 'name' of this service template
        active_checks_enabled           1       ; Active service checks are enabled
        passive_checks_enabled          1       ; Passive service checks are enabled/accepted
        parallelize_check               1       ; Active service checks should be parallelized (disabling this can lead to major performance problems)
        obsess_over_service             1       ; We should obsess over this service (if necessary)
        check_freshness                 0       ; Default is to NOT check service 'freshness'
        notifications_enabled           1       ; Service notifications are enabled
        event_handler_enabled           1       ; Service event handler is enabled
        flap_detection_enabled          1       ; Flap detection is enabled
        failure_prediction_enabled      1       ; Failure prediction is enabled
        process_perf_data               1       ; Process performance data
        retain_status_information       1       ; Retain status information across program restarts
        retain_nonstatus_information    1       ; Retain non-status information across program restarts
        notification_interval           0       ; Only send notifications on status change by default.
        is_volatile                     1
        check_period                    24x7
        normal_check_interval           10
        retry_check_interval            1
        max_check_attempts              4
        notification_period             24x7
        notification_options            w,u,c,r
        contact_groups                  admins
        register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
        }


define command{
       command_name    http_ping
       command_line    /usr/lib/nagios/plugins/check_http -I $HOSTADDRESS$ -p $ARG1$ -u /ping
       }

define command{
       command_name    check_tcp_port
       command_line    /usr/lib/nagios/plugins/check_tcp -H $HOSTADDRESS$ -p $ARG1$
       }

define command{
       command_name    check_cassandra_cpu
       command_line    /usr/lib/nagios/plugins/check_procs -c $ARG1$ --metric=CPU -u cassandra
       }
