/changelog
/*.log
/*.debhelper
/*.substvars
/files
/clearwater-auto-config/
/clearwater-infrastructure/
/clearwater-memcached/
/clearwater-memcached-extra/
/clearwater-secure-connections/
/clearwater-tcp-scalability/
/clearwater-snmpd/
/clearwater-diags-monitor/
/clearwater-socket-factory/
/clearwater-auto-config-aws/
/clearwater-auto-config-generic/
/clearwater-log-cleanup/
/clearwater-auto-upgrade/
