/changelog
/*.log
/*.debhelper
/*.substvars
/files
/clearwater-auto-config/
/clearwater-infrastructure/
/clearwater-memcached/
/clearwater-memcached-extra/
/clearwater-secure-connections/
/clearwater-tcp-scalability/
/clearwater-snmpd/
/clearwater-crash-monitor/
/clearwater-auto-config-aws/
/clearwater-auto-config-generic/
