[Unit]
Description=Enables processes to establish connections using a different network namespace

[Service]
ExecStart=/usr/share/clearwater/bin/clearwater-socket-factory-wrapper
Restart=always
RestartSec=5s
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
