Source: clearwater-infrastructure
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-infrastructure
Architecture: all
Depends: dnsmasq, monit, ntp
Suggests: clearwater-auto-config, clearwater-auto-upgrade
Description: Common infrastructure for all Clearwater servers

Package: clearwater-memcached
Architecture: all
Depends: clearwater-infrastructure, memcached
Conflicts: clearwater-infinispan
Suggests: clearwater-secure-connections
Description: memcached configured for Clearwater

Package: clearwater-memcached-extra
Architecture: all
Depends: clearwater-infrastructure, memcached
Suggests: clearwater-secure-connections
Description: Redundant memcached configured for Clearwater

Package: clearwater-tcp-scalability
Architecture: all
Description: TCP scalability improvements for Clearwater

Package: clearwater-secure-connections
Architecture: all
Depends: racoon, ipsec-tools
Description: Secure connections between regions for Clearwater

Package: clearwater-snmpd
Architecture: all
Depends: snmpd
Description: SNMP service for Clearwater CPU, RAM and I/O statistics

Package: clearwater-crash-monitor
Architecture: all
Depends: clearwater-infrastructure
Description: Crash dump uploader for all Clearwater servers

# NB clearwater-auto-config packages do NOT depend on infrastructure, as they
# need to load before infrastructure

Package: clearwater-auto-config-aws
Provides: clearwater-auto-config
Architecture: all
Description: Package containing the Clearwater auto-configuration tool for AWS

Package: clearwater-auto-config-generic
Provides: clearwater-auto-config
Architecture: all
Description: Package containing the generic Clearwater auto-configuration tool

Package: clearwater-log-cleanup
Architecture: all
Depends: clearwater-infrastructure, python
Description: Script to prevent sprout/bono log files from growing too large

Package: clearwater-auto-upgrade
Architecture: all
Description: Package enabling automatic upgrade of Clearwater software
